:root {
    --brand-dark: #222222;
    --brand-light: whitesmoke;
    --brand-gray: gray;
    --brand-title-font: 'CMU Concrete';
    --brand-font: 'Roboto'
}

body {
    background-color: var(--brand-light);
    color: var(--brand-dark);
    font-family: var(--brand-font);
}

.corpus-selection {
    display: flex;
    justify-content: center;
    gap: 6rem;
    width: 100%;
    overflow: scroll;
}

.highlight {
    font-weight: bold;
}

.view-wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    color: var(--brand-gray);
}

.notify {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: solid 1px var(--brand-gray);
    border-radius: 10px;
    margin: 1rem;
}

input[type='file'] {
    padding: 2em;
    border: 2px dashed var(--brand-gray);
    border-radius: 10px;
}

.corpus-upload-wrapper {
    margin-top: 50%;
    margin-bottom: 50%;
}

.corpus-upload {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-direction: column;
}

.corpus-upload-wrapper label {
    font-size: 14px;
    color: var(--brand-gray);
}

.main {
    max-width: 80ch;

}

h1, h2, h3, h4, a {
    font-family: var(--brand-title-font);
}

.page-area {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: auto;
}

.page-button-wrapper {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.page-controls-wrapper {
  display: flex;
  gap: 1rem;
}

.page-button,
.page-control {
  padding: 0.5rem 1rem;

}

.page-button:hover,
.page-control:not(.disabled):hover {
  background-color: #f5f5f5;
  border-color: #999;
}

.page-control.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
  color: var(--brand-gray);
}

.result-snippet {
    font-size: 14px;
    color: var(--brand-gray);
}
