{% extends "base.html" %}

{% block content %}

<div class="main">
  <h1>{{corpus_name}}</h1>

  <form action="/">
  <div class="search-container">
    <div class="search-row">
      <input type="text" name='query' class="search-input" placeholder="Digite sua busca aqui...">
      <button class="search-button">Buscar</button>
    </div>
    <div class="links-row">
      <a href="/save" class="search-link">Salve este Índice</a>
      <a href="/upload" class="search-link">Carregue um novo</a>
    </div>
  </div>
  </form>

</div>
{% endblock %}
