{% extends "base.html" %}

{% block content %}

<div class="main">
  {% if corpus_was_indexed %}
  <div class="notify">
    <span>Corpus indexado com sucesso</span>
    <button>Ok</button>
  </div>
  
  <form class="search-area" action='/'>
    <input name="query" type="text">
    <input type="submit" value="Pesquisar">
  </form>
  {% endif %}

  {% if not corpus_was_indexed %}
  <div class="corpus-upload-wrapper">
    <h1>Tá vazio por aqui...</h1>
    <form class="corpus-upload" method="POST" enctype=multipart/form-data action="/upload-direct">
      <label for="file"><strong>Escolha um corpus para indexar </strong><span class="box__dragndrop">ou o arraste aqui</span>.</label>
      <input type="file" name="zip_file" accept=".zip" required>
      <input name="" type="submit" value="Indexar"/>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
